input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.shadow-transition {
  -webkit-transition: box-shadow ease-in-out 0.4s;
  transition: box-shadow ease-in-out 0.4s;
}

[v-cloak] {
  display: none;
}
