input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.shadow-transition {
  -webkit-transition: box-shadow ease-in-out 0.4s;
  transition: box-shadow ease-in-out 0.4s;
}

[v-cloak] {
  display: none;
}

.field-error-text {
  color: #dc3545;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.modal-base {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: block;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(33, 37, 41, 0.7);
}
